<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link
    	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    	rel="stylesheet"
  		/>
		  <link rel="preconnect" href="https://fonts.googleapis.com">
		  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		  <link href="https://fonts.googleapis.com/css2?family=Jersey+15&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<title>Portafolio Federico Sanchez - Desarrollador Web</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background: #13151a;  
		scroll-behavior: smooth;
		box-sizing: border-box;
		::-webkit-scrollbar	{
			width: 10px;
		}

		::-webkit-scrollbar-thumb {
    		background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
    		border-radius: 5px;
		}
	}
</style>
