---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import SkillsComponent from "../components/SkillsComponent.astro";
import CardProyect from "../components/CardProyect.astro";
import { projects } from "../data/proyects";
import { frontendSkills, backendSkills } from "../data/skills";
import { iconsSvg } from "../data/iconsSvg";
import "../styles/global.css";






// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---



<Layout title="Portafolio - Federico Sanchez">
	<header id="inicio"
		class="h-dvh bg-[url('/fondo.webp')] bg-fixed bg-center flex justify-center items-center "
	>
	
		<Navbar />
		<div  class="flex flex-col justify-center items-center p-4">
			<div class="flex flex-col justify-center items-center font-raleway gap-2.5 text-slate-500">
				<h3 class=" text-base font-medium sm:text-xl animate-fade-up animate-once animate-ease-in-out animate-delay-350 animate-duration-600">
					Hola, soy Federico Sanchez
				</h3>
				<h1 class="text-6xl sm:text-7xl md:text-9xl font-extrabold bg-gradient-to-r from-fst via-indigo-400 to-snd bg-clip-text text-transparent  fade-gradient"> 
					FrontEnd
				</h1>
				<h2 class="text-3xl sm:text-4xl md:text-5xl font-extrabold animate-fade-up animate-once animate-ease-in-out animate-delay-1200 animate-duration-1600">
					Developer
				</h2>
				<p  class="text-base sm:text-lg text-center md:text-xl pt-6   text-slate-500 font-medium animate-fade-up animate-once animate-ease-in-out animate-delay-3000 animate-duration-1600">
					Frontend-first, pero siempre listo para asumir cualquier desafío fullstack.
				</p>
			</div>

			<div class="flex items-center justify-center gap-5 pt-10" >
				<a href="https://github.com/FedericoHernanSanchez " target="_blank" class="hover:animate-jump animate-once animate-ease-in"  > 
					<img src={iconsSvg["github"]} alt="icon-github" class="w-13 h-13" />
				</a>
				<a href="https://www.linkedin.com/in/federico-hernan-sanchez-842b24214/"  target="_blank" class="hover:animate-jump animate-once  animate-ease-in">
					<img src={iconsSvg["linkedin"]} alt="icon-linkedIn" class="w-13 h-13" />
				</a>
			</div>
		</div>
	</header>

	<main class="bg-background">
		<section id="about" class=" mt-0 mx-auto mb-12 py-16 px-4 max-w-[950px] lg:px-8 ">
			<div class="text-white font-raleway flex flex-col">
				<h2 class=" font-bold text-4xl py-5 my-7  after:mt-2  after:block after:w-20 after:h-1  after:bg-fst opacity-0 animate-on-scroll" data-anim="animate-fade-right animate-once animate-ease-out animate-duration-1500 animate-delay-400">
					Sobre mí
				</h2>
			
				<div class=" flex flex-col items-center justify-around gap-10 sm:text-center lg:flex-row lg:text-left">
					<div class="relative w-[160px] h-[160px] sm:w-[200px] sm:h-[200px] md:w-[250px] md:h-[250px] before:absolute before:-inset-[12px] before:rounded-full 
     						before:border-3 before:border-transparent before:border-t-fst before:border-r-snd before:animate-spin before:animate-duration-2300 ">
  						<img src="/img-perfil.png" alt="imagen-perfil" class="w-full h-full object-cover rounded-full">
					</div>
					<div class="flex flex-col gap-8 text-base leading-8 md:w-2xl lg:w-lg ">
						<h3 class="text-2xl font-bold text-fst">Hola,soy Federico</h3>
						<p class="font-light ">
							FrontEnd Developer con conocimientos FullStack. Me apasiona la programación y el desarollo de soluciones innovadoras. Me considero una persona que siempre da lo mejor de sí en todo lo que hace, 
							con una gran capacidad para trabajar en equipo y alcanzar objetivos comunes.
						</p>
						<p class="font-light">
							<span class="opacity-0 animate-on-scroll" data-anim="animate-fade animate-once animate-duration-1300 animate-delay-800 animate-ease-in-out">
								Finalicé los programas de  <span class="text-snd font-bold">Full Stack JavaScript/Node.js y React.js </span> de Talento Tech y actualmente estoy cursando la <span class="text-snd font-bold">Licenciatura en Informática</span> en la Universidad Nacional de Quilmes.
							</span> 
							<span class="opacity-0 animate-on-scroll" data-anim="animate-fade animate-once animate-duration-1300 animate-delay-1200 animate-ease-in-out">
								Sigo aprendiendo constantemente a través de cursos y de forma 
								autodidacta para mejorar mis habilidades y seguir creciendo como profesional.
							</span>
						</p>
					</div>
				</div>

				<div class="flex flex-col justify-center items-center text-center gap-5 pt-13 ">
					<p class="my-2.5 text-sm leading-7 md:text-base">
						Si estás interesado en conocer más sobre mi experiencia profesional y formación académica, puedes descargar mi Curriculum Vitae a continuación:
					</p>
					<a href="/CV-Federico-Sanchez.pdf" download class="flex items-center justify-center gap-3 bg-fst rounded-full px-4 py-3 md:px-7 bg-gradient-to-b from-fst to-snd hover:shadow-[0_4px_10px_var(--color-snd)] transition-shadow">
						<img src={iconsSvg["download"]} alt="icon-download" class="w-5 h-5 text-white" />
						<span class="text-lg ">Descargar CV</span>
					</a>
				</div>
				
			</div>
		</section>

		<section id="technologies" class=" mt-0 mx-auto mb-12 py-16 px-4 max-w-[1100px] md:px-8">

			<div class="flex flex-col  items-center justify-center text-white font-raleway gap-25">
				<div class=" flex flex-col  items-center gap-3 text-base  text-center leading-8  sm:text-xl lg:max-w-[950px] ">
					<h1 class="font-bold text-4xl py-5 my-5 after:mt-2 after:block after:w-27 after:h-1 after:bg-fst opacity-0 animate-on-scroll" data-anim="animate-fade-down animate-once animate-ease-out animate-duration-1500 animate-delay-400">Tecnologias</h1>
					<p>Mi área principal de especialización es el desarrollo Frontend pero mi formación es FullStack.</p>
					<p>
						HTML, CSS, JS, creación de aplicaciones web pequeñas y medianas con  React, complementos personalizados, funciones, animaciones y codificación de diseños interactivos.
					</p>
					<p class="py-3"> Visita mi <a class="text-fst hover:underline hover:text-snd hover:underline-offset-4 transition-all duration-250 ease-in-out" href="https://www.linkedin.com/in/federico-hernan-sanchez-842b24214/" target="_blank">LinkedIn</a> <span class="opacity-0 animate-on-scroll" data-anim="animate-fade animate-once animate-duration-1000 animate-ease-in-out animate-delay-1000">para más detalles.</span></p>
				</div>

				<div class="flex flex-col  gap-20 lg:flex-row">
					<SkillsComponent title="FrontEnd" iconsName={frontendSkills}/>
					<SkillsComponent title="BackEnd" iconsName={backendSkills}/>
				</div>
			</div>

		</section>
		
		<section id="proyects" class="flex justify-center items-center mx-auto mb-12 py-15 px-4 max-w-[1100px] md:px-8">
			<div class="flex flex-col gap-15">
				<div class="flex flex-col items-center font-raleway text-white gap-6" >
					<h1 class="font-bold text-4xl py-2  after:mt-2 after:block after:w-24 after:h-1 after:bg-fst opacity-0 animate-on-scroll" data-anim="animate-fade-up animate-once animate-ease-out animate-duration-1500 animate-delay-400">
						Proyectos
					</h1>
					<h3 class="font-light text-base text-center sm:text-lg">Proyectos realizados en cursos o personales</h3>
				</div>
				<div class="flex flex-col gap-25 lg:flex-row  ">
					{projects.map(proyect => (
						<CardProyect {...proyect}/>
					))}
				</div>
			</div>
		</section>

		<section id="contact" class="mx-auto mb-12 py-14 px-4  max-w-[950px] font-raleway text-white md:px-8">
			<div class="flex flex-col  mb-30 md:items-center">
				<h1 class="font-bold text-4xl my-7 py-3.5 animate-on-scroll after:block after:w-20 after:mt-2 after:h-1 after:bg-fst opacity-0 " data-anim="animate-fade-right animate-once animate-ease-out animate-duration-1500 animate-delay-400">Contáctame</h1>
				<form action="https://formspree.io/f/xeorzbej" id="form" method="post" class="flex flex-col gap-7 w-[100%] md:w-[75%] lg:w-[55%]">

					<div class="div-form">
						<label for="nombre" class="label-form">Nombre y Apellido</label>
						<input type="text" id="nombre" name="nombre" placeholder="Federico Sanchez" class="input-form  focus:border-[var(--color-snd)]  focus:border-t-gray-700  focus:outline-none">
						<p id="name-error" class="text-red-800 text-sm mt-1"></p>
					</div>
					
					<div class="div-form">
						<label for="email" class="label-form">Correo Electrónico</label>
						<input type="email" id="email" name="email" placeholder="example@gmail.com" class="input-form focus:border-[var(--color-snd)]  focus:border-t-gray-700  focus:outline-none">
						<p id="email-error" class="text-red-800 text-sm mt-1"></p>
					</div>
					<div class="div-form">
						<label for="text" class="label-form">Mensaje</label>
						<textarea name="text" id="text" placeholder="Escriba aquí su mensaje" class="input-form resize-none h-50 focus:border-[var(--color-snd)]  focus:border-t-gray-700  focus:outline-none " ></textarea>
					</div>
					<button type="submit" class="font-bold text-xl rounded-lg bg-gradient-to-br from-fst to-snd p-2 cursor-pointer hover:shadow-[0_3px_8px_var(--color-snd)] transition-shadow">Enviar</button>
					<p id="statusMessage" class="text-white mt-5 text-center text-lg"></p>
				</form>
			</div>
		</section>

		<Footer/>
	</main>
</Layout>


<script>
	// Animacion Scroll
	const observer = new IntersectionObserver((entries,obs) =>{
		entries.forEach(entry => {
			if (entry.isIntersecting) {
				const target = entry.target as HTMLElement;
				const animClasses =target.dataset.anim?.split(' ') || [];
				entry.target.classList.add(...animClasses);
				obs.unobserve(entry.target)
			}
		});
	},{threshold:0.5})

	document.querySelectorAll('.animate-on-scroll').forEach(el => observer.observe(el));


	//Validación formulario
	const form= document.getElementById("form") as HTMLFormElement;
	const nombre= document.getElementById("nombre") as HTMLInputElement;
	const email = document.getElementById("email") as HTMLInputElement;
	
	const errorNombre = document.getElementById("name-error") as HTMLElement;
	const errorEmail = document.getElementById("email-error")as HTMLElement;
	const statusMessage = document.getElementById('statusMessage')as HTMLElement;

	const nombreRegex = /^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+$/;
	const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;


	function showError(element : HTMLElement,message :string) {
		element.textContent = message;
		element.classList.remove("hidden");
	}

	function clearError(element: HTMLElement) {
  		element.textContent = "";
  		element.classList.add("hidden");
	}

	


	form?.addEventListener("submit",async (e) =>{
		e.preventDefault();
		let valid = true 



	// Validar nombre
  		const valorNombre = nombre.value.trim();
  			if (valorNombre === "" || !nombreRegex.test(valorNombre)) {
    			showError(errorNombre, "El campo no puede estar vacío y solo puede contener letras");
    			valid = false;
 			 }else {
    			clearError(errorNombre);
  			}

  // Validar email
  		const valorEmail = email.value.trim();
  			if (valorEmail === "" || !emailPattern.test(valorEmail)) {
    			showError(errorEmail, "Ingresa un correo electrónico válido");
    			valid = false;
  			} else {
    		clearError(errorEmail);
  		}

	if(!valid) return;

	//Enviar datos a Formspree
	const formData = new FormData(form)
	try{
		const response = await fetch('https://formspree.io/f/xeorzbej', {
    		method: 'POST',
    		body: formData,
    		headers: { 'Accept': 'application/json' }
  		});

		if(response.ok){
			statusMessage.textContent = "¡Gracias! Tu mensaje fue enviado"
			form.reset();
			setTimeout(() => statusMessage.classList.add('hidden'),8000)
		} else {
			statusMessage.textContent = "No se logro enviar el mensaje, inténtelo mas tarde"
		}
	} catch (error){
			statusMessage.textContent = 'No se pudo enviar el mensaje, inténtelo más tarde.';
  			console.error(error);
	}
})
</script>