---
import { iconsSvg } from "../data/iconsSvg";
import "../styles/global.css";
---

<footer class="bg-white  pt-12 pb-6 px-3.5 font-raleway relative ">
			<div>
    			<div class="wave wave1" ></div>
    			<div class="wave wave2" ></div>
    			<div class="wave wave3" ></div>
    			<div class="wave wave4" ></div>
			</div>
			<section class="flex flex-col items-center gap-7 lg:gap-0 lg:flex-row lg:justify-around lg:px-8">
				<div class="flex flex-col gap-1  text-center lg:text-left">
					<h2 class="text-3xl font-bold bg-gradient-to-r from-fst  to-snd bg-clip-text text-transparent">
						Federico Sanchez
					</h2>
					<span class="text-lg font-medium opacity-0 animate-on-scroll" data-anim="animate-fade-up animate-once animate-duration-1200 animate-delay-600 animate-ease-in-out">
						Desarrollador FrontEnd
					</span>
					<span class="max-w-lg text-base font-light opacity-0 animate-on-scroll sm:text-lg" data-anim="animate-fade-up animate-once animate-duration-1200 animate-delay-1000 animate-ease-in-out">
						Frontend-first, pero siempre listo para asumir cualquier desafío fullstack.
					</span>
				</div>
				<div class="grid grid-cols-1 justify-items-center items-center gap-1 sm:grid-cols-3 ">
					<a href="/#inicio" class="py-2.5 px-5 hover:bg-fst hover:text-white rounded-lg transition duration-350">Inicio</a>
					<a href="/#about" class="py-2.5 px-5 hover:bg-fst hover:text-white rounded-lg transition duration-350">Sobre mi</a>
					<a href="/#technologies" class="py-2.5 px-3.5 hover:bg-fst hover:text-white rounded-lg transition duration-350">Tecnologias</a>
					<a href="/#proyects" class="py-2.5 px-5 hover:bg-fst hover:text-white rounded-lg transition duration-350">Proyectos</a>
					<a href="/#contact" class="py-2.5 px-5 hover:bg-fst hover:text-white rounded-lg transition duration-350">Contacto</a>
				</div>
			</section>
			<div class="flex justify-center gap-2.5 pt-7">
				<img src={iconsSvg["code"]} alt="icon-code" class="w-7 h-7 text-snd">
				<p class="text-lg font-light opacity-0 animate-on-scroll sm:text-xl" data-anim="animate-fade animate-once- animate-duration-600 animate-delay-500 animate-ease-in">Federico Sanchez 2025</p>
			</div>
</footer>