---
import { iconsSvg } from "../data/iconsSvg";
import "../styles/global.css";
import NavbarElement from "./NavbarElement.astro";
---

<nav class="fixed top-7 left-5 lg:top-14 lg:left-auto z-50">
	<button
		id="menu-btn"
		class="block z-50 relative lg:hidden rounded-full bg-white/70 backdrop-blur-3xl shadow-xl p-2 cursor-pointer"
	>
		<img src={iconsSvg["menu"]} alt="icono-menu" class="w-9 h-9">
	</button>
	<ul
		id="menu"
		class="hidden fixed bg-[url('/fondo.webp')] flex-col inset-0 items-center justify-center
							bg-cover lg:static lg:bg-none lg:flex lg:flex-row"
	>
		<div
			class="absolute bg-background/95 inset-0 lg:bg-white/70 lg:backdrop-blur-3xl lg:shadow-xl lg:rounded-lg"
		>
		</div>
		<div class="flex flex-col items-start gap-4 lg:flex-row">
			<NavbarElement
				title="Inicio"
				href="/#inicio"
				icon="house"
				delay={0}
			/>
			<NavbarElement
				title="Sobre mi"
				href="/#about"
				icon="user"
				delay={200}
			/>
			<NavbarElement
				title="Tecnologias"
				href="/#technologies"
				icon="study"
				delay={400}
			/>
			<NavbarElement
				title="Proyectos"
				href="/#proyects"
				icon="code"
				delay={600}
			/>
			<NavbarElement
				title="Contacto"
				href="/#contact"
				icon="send"
				delay={800}
			/>
		</div>
		<div
			class="flex items-center justify-center gap-5 pt-10 lg:hidden relative"
		>
			<a
				href="https://github.com/FedericoHernanSanchez "
				target="_blank"
				class="hover:animate-jump animate-once animate-ease-in"
			>
				<img src={iconsSvg["github"]} alt="icon-github" class="w-13 h-13">
			</a>
			<a
				href="https://www.linkedin.com/in/federico-hernan-sanchez-842b24214/"
				target="_blank"
				class="hover:animate-jump animate-once animate-ease-in"
			>
				<img src={iconsSvg["linkedin"]} alt="icon-linkedIn" class="w-13 h-13">
			</a>
		</div>
	</ul>
</nav>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const btn = document.getElementById("menu-btn");
		const menu = document.getElementById("menu");

		//  Función para abrir/cerrar el menú móvil
		const toggleMenu = (open: any) => {
			if (!menu) return;
			menu.classList.toggle("hidden", !open);
			menu.classList.toggle("flex", open);
			document.body.style.overflow = open ? "hidden" : "";
		};

		btn?.addEventListener("click", () => {
			const isOpen = menu?.classList.contains("flex");

			toggleMenu(!isOpen);
		});

		menu?.addEventListener("click", (e) => {
			const target = e.target as HTMLElement | null;
			if (target && target.tagName == "A" && window.innerWidth < 1024) {
				toggleMenu(false);
			}
		});
		//  Si cambia a escritorio, solo aseguramos que se pueda scrollear
		window.addEventListener("resize", () => {
			if (window.innerWidth >= 1024) {
				document.body.style.overflow = ""; // libera scroll
			}
		});
	});
</script>
