---
interface Props {
    title: string;
    href: string;
    icon?: string;
}

const { title, href, icon } = Astro.props;
---

<li class="relative group" >
    <a href={href} class="flex w-3xs items-center lg:w-auto py-3 lg:px-5 gap-5 lg:gap-2 font-raleway text-xl font-medium text-white lg:text-slate-600
    animate-fade-up animate-once animate-ease-in-out animate-delay-350 animate-duration-600 lg:animate-none">
        <svg class="w-9 h-9 lg:w-7 lg:h-7 text-fst" >
            <use href={`/spriteSVG/sprite.svg#${icon}`}></use>
        </svg>
        {title}
    </a>
    <span class="absolute left-0 h-0.5 w-0 bg-fst transition-all duration-700 group-hover:w-full"></span>
</li>
